.about-container{
    margin:0;
    padding:0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }
  
  a{
    text-decoration: none;
    color:inherit;
  }

  .about-container,.about-dark{
    border-color: black;
    color: white;
}

P{
  color: black;
}

h1{
  color: black;
}